.container {
  padding: 20px 0 0;
}

.img-banner {
  max-width: 600px;
}

.hr-logo-bottom {
  background: linear-gradient(#c2a9ac, #eed4b6, #ffffff);
  height: 15px;
}

.logo {
  position: relative;
  max-width: 500px;
  z-index: 1;
}

.card-content .card-title {
  color: #77494f;
}

.row {
  margin-bottom: 0px;
}

.col {
  margin-bottom: 20px;
}

.footer-copyright {
  background-color: #eb9d44 !important;
}

.page-footer {
  background: linear-gradient(#ffffff, #eed4b6, #eb9d44);
}

.contact-number {
  color: #77494f;
}

a.scroll-top {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
}

.locuas {
    position: fixed;
    display: flex;
    flex-direction: column;
}
